@keyframes all {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    background-image: url(photo/bg.png);
    font-size: 18px;
    line-height: 1.58;
    animation: all 2s ease;
}

nav {
    background: linear-gradient(0deg, #a6a6a6, #575C62);
}

.fa-solid {
    padding: 10px;
}

.fa {
    padding: 5px;
}

nav a {
    text-decoration: none;
    padding: 5px 1em;
    color: #FFF;
    position: relative;
    transform: translateY(0px);
    transition: .3s;
}

nav a:hover {
    transform: translateY(-5px);
}

nav a::after {
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -5px;
    height: 0;
    border-bottom: 1px solid #FFF;
    transition: .3s;
}

nav a:hover:after {
    left: 0;
    right: 0;
}

p {
    margin-bottom: 36px
}

footer {
    color: #595053;
    animation: all 3s ease;
    text-align: center;
    width: 100%;
    float: right;
    padding: -10px -10px;
    font-weight: bolder;
    background-color: #a6a6a6;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: white 3px 3px 3px;
    border-radius: 5px;
}

h5 {
    text-align: center;
    color: #003B04;
    font-weight: 700;
    font-size: 50px;
}

i:hover {
    animation: ss .2s linear infinite alternate;
}

@keyframes ss {
    0% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(10deg);
    }
}

h1 {
    font-weight: 700;
}

.blog-post {
    background-color: #a6a6a6;
    border-radius: 5px;
    padding: 6px;
    color: white;
}

#record {
    margin: 30px 120px 30px 120px;
}
